@model Systembankunipim.Data.TbCarteira

@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>

<h4>Carteiras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCarteira" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoCarteira" class="control-label"></label>
                <input asp-for="SaldoCarteira" class="form-control" />
                <span asp-validation-for="SaldoCarteira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoDeposito" class="control-label"></label>
                <input asp-for="UltimoDeposito" class="form-control" />
                <span asp-validation-for="UltimoDeposito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoSaque" class="control-label"></label>
                <input asp-for="UltimoSaque" class="form-control" />
                <span asp-validation-for="UltimoSaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUltimaTransacao" class="control-label"></label>
                <input asp-for="DataUltimaTransacao" class="form-control" />
                <span asp-validation-for="DataUltimaTransacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
