<h1 class="text-center display-3">Seja bem vindo!</h1>
<hr />
<div class=" rounded p-3 mb-2 bg-dark text-white text-center"><h2>System Bank Unipim</h2></div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/Imagens/bit.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/Imagens/graficobit.png" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/Imagens/cripto-ativos.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Imagens/moeda-730567.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">criptomoeda descentralizada ou um dinheiro eletrônico para transações ponto-a-ponto (peer-to-peer electronic cash system) apresentada em 2007, na lista de discussão The Cryptography Mailing por um programador ou grupo de programadores sob o pseudônimo Satoshi Nakamoto, é considerada a primeira moeda digital mundial descentralizada, constituindo um sistema econômico alternativo (peer-to-peer electronic cash system), e responsável pelo ressurgimento do sistema bancário livre.</p>
                    <a href="https://www.infomoney.com.br/cotacoes/bitcoin-btc/" class="text-dark btn btn-outline-secondary">Visitar</a>
                </div>
            </div>
        </div>

        <div class="col-sm mr-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Imagens/Etherum.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Ethereum</h5>
                    <p class="card-text">
                        Ethereum é uma plataforma que permite a programação de aplicativos descentralizados, contratos inteligentes e transações da criptomoeda Ether e vários tokens.
                        Tudo isso baseado na tecnologia da Blockchain, que surgiu juntamente com o Bitcoin.
                    </p>
                    <a href="https://br.tradingview.com/symbols/ETHUSD/" class="text-dark btn btn-outline-secondary">Visitar</a>
                </div>
            </div>

        </div>
        <div class="col-sm mr-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Imagens/smart-contracts.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Smart Contract</h5>
                    <p class="card-text">
                        Um smart contract — também conhecido como contrato inteligente ou contrato digital — é um código de computador autoexecutável desenvolvido para facilitar, efetivar e proteger as operações financeiras no Blockchain.
                        Contratos inteligentes formalizam negociações entre duas ou mais partes, sem precisar de agentes mediadores.
                    </p>
                    <a href="https://foxbit.com.br/blog/afinal-o-que-e-um-smart-contract/#:~:text=Um%20smart%20contract%20%E2%80%94%20tamb%C3%A9m%20conhecido%20como%20contrato,ou%20mais%20partes%2C%20sem%20precisar%20de%20agentes%20mediadores." class="text-dark btn btn-outline-secondary">Visitar</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card mr-1">
        <h5 class="badge-dark card-header">Destaque</h5>
        <div class="card-body">
            <h5 class="card-title">Alpha Software</h5>
            <p class="card-text">As empresas que utiliza do blockchain e smart contracts, mas para essas operações já foram criados softwares aderentes e que estão funcionando. A Alpha Software foi contratada para desenvolver o software de administração e gerenciamento dos investimentos da tecnologia.</p>
            <a href="" class="text-dark btn btn-light">Visitar</a>
        </div>
    </div>
    
</div>