@{
    ViewData["Title"] = "A empresa System banck unipim";
}


<h1 class="display-1">@ViewData["Title"]</h1>
<blockquote class="blockquote">
    <p class="mb-0">
        Com o avanço da tecnologia veio a criação das criptomoedas (bitcoin) que são dinheiros eletrônicos com um grande valor no mercado de investimentos, que utilizam a tecnologia blockchain para a realização das transações. O blockchain se baseia em uma tecnologia de registro distribuído que visa a descentralização como medida de segurança. São bases de registros e dados distribuídos e compartilhados que têm a função de criar um índice global para todas as transações que ocorrem em um determinado mercado.
        O projeto a seguir tem como principal objetivo o levantamento de requisitos, análise e prototipação de um software de administração e gerenciamento de investimentos que utiliza tecnologia blockchain.
        Com levantamentos e necessidades do negócio, foi feita a escolha das metodologias de processos, análises de viabilidade, criação de scripts e protótipos de tela para análise do cliente, visando pensar nas melhores alternativas para a criação do software.
        Tendo necessidade de atender a empresa contratante nós da Alpha Software (fábrica de software) e os clientes da empresa que utilizarão o software para gerenciar investimentos efetuamos reuniões para tomada de decisões e levantamento de requisitos da empresa e seus softwares.
        O software necessitará de uma plataforma Desktop para o gerenciamento dos clientes da empresa, plataforma Web e Mobile responsivas para utilização dos clientes.
        O banco de dados da empresa utilizará Microsoft SQL Server, a linguagem implementada será a C# para as duas plataformas: Web e Desktop. Atendendo os Sistemas Operacionais Windows para o Desktop (por se tratar um software que atende apenas a empresa não se necessita ser multiplataforma, já que em seus serviços a empresa utiliza o Windows como sistema operacional único) e Web multiplataforma por se tratar de ser um software acessado pela internet, podendo assim, atender todos os clientes que utilizam diversos sistemas operacionais divergentes.

        <br />
        A empresa do projeto a seguir utiliza de uma plataforma que trabalha com investimentos de criptomoedas e utiliza da tecnologia Blockchain. Uma tecnologia que consiste em um sistema de distribuição de blocos, para gerenciar as informações de pagamentos das criptomoedas.
        Com o surgimento de criptoativos (criptomoedas) foi desenvolvido a cadeia de blocos (blockchain), por ser uma maneira segura que contam com mecanismos de segurança digital feitos para impedir qualquer modificação não autorizada. Em um bloco são armazenados dados como o momento em que a transação ocorreu, a chave pública dos usuários que dela participaram e um identificador único. Além disso, são vinculados dados sobre o bloco anterior, de tal forma que qualquer alteração se torna facilmente identificável.
        A empresa utiliza do blockchain e smart contracts, mas para essas operações já foram criados softwares aderentes e que estão funcionando. A Alpha Software foi contratada para desenvolver o software de administração e gerenciamento dos investimentos da tecnologia.
        Havendo a necessidade de ser implementado três softwares de plataformas diferentes: Desktop e Web. Sendo Desktop a função de gerenciamento dos clientes da empresa e de acesso apenas da empresa, Web responsivo para gerenciamento e administração dos clientes.

    </p>
    <footer class="blockquote-footer">Alguém famoso na <cite title="Título da fonte">System Bank Unipim</cite></footer>
</blockquote>
