<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System Bank Unipim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class=" text-center navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom shadow-lg p-3 mb-5 bg-primary rounded ">
            <div class="container">
                <a class="navbar-brand text-white text-center" asp-area="" asp-controller="Home" asp-action="Index">System Bank Unipim</a>
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="QSomos">Quem Somos!</a>
                <div class="float-left">
                    <a class="btn btn-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    <a class="btn btn-light" asp-area="" asp-controller="TbClientes" asp-action="Create">Cadastrar</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center font-weight">
            &copy; 2020 - System Bank Unipim - <a class="text-primary" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            <a class="text-primary" asp-controller="TbInvestimentos" asp-action="Index">Investimentos</a>
            <a class="text-primary" asp-area="" asp-controller="TbCarteiras" asp-action="Index">Carteiras</a>
            <a class="text-primary" asp-area="" asp-controller="TbTransacoes" asp-action="Index">Transações</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
